.profile-details-card .bg-img{
    width: 100%;
}
.home-section nav{
    margin-bottom: 20px;
}
.profile-details-card .img-card{
    width: 330px;
    z-index: 1;
    position: relative;
    margin-top: -175px;
    margin-right: 50px;
    border: 20px solid #fff;
}
.profile-details-card .img-card img{
    width: 100%;
}