@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container-fluid{
    margin-bottom: 50px;
    margin-left: 50px;
}

.image img
{
    height: auto;
    width: 1000px;
}

.appointmentform
{
    justify-content: space-between;
    margin: 20px 0;
}

h2
{
    text-align: center;
}

.appointmentform .form-group .form-control
{
    height: 45px;
    width: 100%;
    margin: 20px 0;
}