@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container-fluid{
    margin-bottom: 50px;
    margin-left: 50px;
}

.image img
{
    height: auto;
    width: 1300px;
}

.appointmentform
{
    justify-content: space-between;
    margin: 20px 0;
}

h2
{
    text-align: center;
}

.appointmentform .form-group .form-control
{
    height: 45px;
    width: 100%;
    margin: 20px 0;
}

.hidebx{
    display: none;
}

.radioLbl{
    text-align: center;
    border: 2px solid white;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.35);
    padding: 10px;
    margin: 10px;
    width: 200px;
    background: white;
    color: black;
    cursor: pointer;
    transition: all 0.3s ease-in;
    border-radius: 15px;
}

input[type=radio]:checked + .radioLbl{
    background: rgb(31, 141, 4);
    color: white;
}